:root {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-family: "Della Respira", serif;
}

.art-font {
  font-family: "Fredericka the Great", cursive;
  background-color: rgb(255, 0, 0);
  background-image: linear-gradient(to right, rgb(205, 29, 29) 0%, rgb(72, 226, 240) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.code-font {
  font-family: "Fragment Mono", monospace;
  color: rgb(0, 255, 0);
}